<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		{% load static %}

		<link rel="stylesheet" type="text/css" href="{% static 'blog/create.css' %}">
		<!--include bootstrap and some other ui stuff-->
		<link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
		<script src="{% static 'bootstrap/jquery.min.js' %}"></script>
		<script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
	</head>
	<body>
		{% include 'navbar.html' %}

		<center style=" margin-top: 3%;">
			<h1>Create your Post</h1>
	        <div style="width: 80%;">
	            <form action="/blog/createPost" method="POST">{% csrf_token %}
					<div class="form-group">
						<input autocomplete="off" placeholder="title" name="title" type="text" class="form-control">
					</div>

					<div class="form-group">
						<textarea placeholder="text" class="form-control" rows="5" name="text"></textarea>
					</div>
	                <button type="submit" class="btn btn-info btn-block">speichern</button>
	            </form>
	        </div>
		</center>
	</body>
</html>
